<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main class="flex flex-col items-center gap-5 ">
      <% posts.forEach(post => { %>
        <%- include("./partials/card.ejs", {post: post}) %>
      <% }) %>
    </main>
  </body>
</html>
