<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="border-b-2 fixed top-0 w-full h-[80px] p-2 flex justify-center items-center">
      <div class="flex-1 flex justify-between items-center max-w-[800px] font-semibold text-lg">
        <div class="flex gap-5 items-center">
          <h1 class="text-xl text-color">
            Clubhouse
          </h1>
          <% if (currentUser) { %>
          <a href="/post/create" class="text-color">
            + Create Post
          </a>
          <% } %>
        </div>
        <div class="flex gap-5">
          <% if (currentUser) { %>
            <a href="/user/<%= currentUser._id %>/posts" class="text-color">
              My Page
            </a>
            <a href="/log-out" class="hidden sm:block gradient rounded px-2 py-1 text-white">
              Log out
            </a>
          <% } else { %>
            <a href="/sign-up" class="hidden sm:block gradient rounded px-2 py-1 text-white">
              Sign Up
            </a>
            <a href="/log-in" class="gradient rounded px-2 py-1 text-white">
              Log In
            </a>
          <% } %>
        </div>
      </div>
    </header>
    <main>
      <h1>Hi@</h1>
    </main>
  </body>
</html>
