<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main class="flex flex-col items-center">
      <div class="shadow rounded  p-4 flex flex-col items-center gap-5">
          <h1 class="text-color text-2xl font-bold">Sign up!</h1>
          <form action="" method="post" class="flex flex-col items-center gap-4">
            <div class="flex flex-col items-center text-lg">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required
                class="border-[1px] border-neutral-400 rounded" value="<%= locals.user ? user.username : '' %>">
            </div>
            <div class="flex flex-col items-center text-lg">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required minlength="8"
                class="border-[1px] border-neutral-400 rounded">
            </div>
            <div class="flex flex-col items-center text-lg">
              <label for="passwordConfirm">Confirm Password</label>
              <input type="password" id="passwordConfirm" name="passwordConfirm" required minlength="8"
              class="border-[1px] border-neutral-400 rounded">
            </div>
            <% if (locals.errors) { %>
              <% errors.forEach(error =>{ %>
                <p class="text-red-500 break-all"><%= error.msg %></p>
              <% }) %>
            <% } %>
            <button type="submit" class="text-color text-xl font-semibold border-[#642B73] border-2 px-2 py-1 rounded">
                Register
            </button>
          </form>
      </div>
    </main>
  </body>
</html>