<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main class="flex flex-col items-center gap-5 ">
        <form action="" method="post" class="flex flex-col gap-2 items-center">
            <h1 class="font-bold text-xl text-center">Are you sure you want to delete your account and all your posts?</h1>
            <div class="flex flex-col gap-1">
                <label for="delete">Please type DELETE to confirm:</label>
                <input type="text" name="delete" id="delete" class="border-[1px] border-neutral-300 rounded" required>
            </div>
            <input type="hidden" name="userid" value="<%= userid %>">
            <button type="submit" class="bg-red-500 text-white px-2 py-1 font-bold text-lg">Delete</button>
            <% if (locals.errors) { %>
                <% errors.forEach(error =>{ %>
                  <p class="text-red-500 break-all"><%= error.msg %></p>
                <% }) %>
            <% } %>
        </form>
    </main>
  </body>
</html>