body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

main {
    flex: 1;
    padding-top: 90px;
    max-width: 800px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    background-color: rgba(255,255,255,0.5);
}

.gradient {
    background: #642B73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-color {
    color: #642B73;
}